@font-face {
  font-family: "Retro Gaming";
  src: url("../fonts/retro_gaming.ttf") format("truetype");
}

@font-face {
  font-family: "Minecraftia";
  src: url("../fonts/Minecraftia-Regular.ttf") format("truetype");
}

:root {
  --body-font: "Minecraftia";
  --heading-font: "Retro Gaming";
}

body,
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--body-font);
  font-smooth: never;
  -webkit-font-smoothing: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

p {
  line-height: 1.75;
}
