.section {
  padding: 1em;
  margin-bottom: 1em;
}

.inverted {
  background: var(--primary-dark);
  color: white;
}

.inverted p {
  color: #daaecd;
}

.section h1 {
  text-align: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}
