.membersGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.member {
  text-align: center;
}

.memberImg {
  max-width: 80%;
  border-radius: 50%;
  margin: 0 auto 1.5em auto;
}

.memberRole {
  opacity: 0.5;
}
